<app-header (settingsClicked)="handleSettingsClicked()"></app-header>

<div class="p-4 mt-6">

  <p-toast position="bottom-center" preventDuplicates="true"/>

  <div class="my-4">
    <router-outlet></router-outlet>
  </div>

  <p *ngIf="addStatusMessage">{{ addStatusMessage }}</p>
</div>

<p-drawer [visible]="settingsDrawerVisible()" header="Settings" (onHide)="handleSettingsClicked()" position="right">
  <div class="flex flex-col p-4 space-y-12 h-full">
    <div class="flex-grow space-y-12">
      <div>
        <label>Appearance: </label>
        <p-selectButton [options]="availableAppearanceOptions" [ngModel]="currentAppearance()"
                        (onChange)="handleAppearanceChanged($event)" size="small"/>
      </div>

      <div>
        <label>Theme: </label>
        <p-selectButton [options]="availableThemeOptions" [ngModel]="currentPrimeTheme()"
                        (onChange)="handleThemeChanged($event)" size="small"/>
      </div>
    </div>

    @if ((appUser$ | async)) {
      <p>Connected as {{(appUser$ | async)?.displayName}}</p>
      <p-button [label]="'Logout'" styleClass="w-full" (onClick)="logOut()" />
    } @else {
      <p-button [label]="'Login with GitHub'" [icon]="'pi pi-github'" styleClass="w-full" (onClick)="handleUserClickedGithubLogin()" />
    }
    <app-update-status [updateStatus]="updateStatus()" />
  </div>
</p-drawer>
