<p-toolbar styleClass="bg-gradient-to-t from-slate-50">
  <ng-template #start>
    @if (activeAppearance() === 'dark') {
      <img src="assets/alias_bridge_icon_light.png" alt="aliasBridge icon" width="32" height="32"/>
    } @else {
      <img src="assets/alias_bridge_icon_dark.png" alt="aliasBridge icon" width="32" height="32"/>
    }
    <p class="ml-4">AliasBridge</p>
  </ng-template>
  <ng-template #end>
    <p-button type="button" [icon]="'pi pi-cog'" text size="small" (onClick)="handleSettingsClicked()"/>
    <p-button type="button" [icon]="appearanceToggleIcon()" text [size]="'small'"
              (onClick)="handleAppearanceClicked()"/>
    <p-button type="button" icon="pi pi-refresh" severity="secondary" rounded text (onClick)="loadAliases()"
              [size]="'small'"/>
  </ng-template>
</p-toolbar>

<div class="p-4 mt-6">

  <p-toast position="bottom-center" preventDuplicates="true"/>

  <div class="my-4">
    <router-outlet></router-outlet>
  </div>

  <p *ngIf="addStatusMessage">{{ addStatusMessage }}</p>
</div>

<p-drawer [visible]="settingsDrawerVisible()" header="Settings" (onHide)="handleSettingsClicked()" position="right">
  <div class="flex flex-col p-4 space-y-12 h-full">
    <div class="flex-grow space-y-12">
      <div>
        <label>Appearance: </label>
        <p-selectButton [options]="availableAppearanceOptions" [ngModel]="activeAppearance()"
                        (onChange)="handleAppearanceChanged($event)" size="small"/>
      </div>

      <div>
        <label>Theme: </label>
        <p-selectButton [options]="availableThemeOptions" [ngModel]="currentPrimeTheme()"
                        (onChange)="handleThemeChanged($event)" size="small"/>
      </div>
    </div>

    @switch (updateStatus().status) {
      @case ('checking') {
        <p-message severity="info" [text]="updateStatus().message"/>
      }
      @case ('available') {
        <p-message severity="success" [text]="updateStatus().message"/>
      }
      @case ('not-available') {
        @if (updateStatus().message === "Ready") {
          <p-button class="w-full" styleClass="w-full" [label]="'Check for Updates'"
                    (onClick)="manualCheckForUpdates()"/>
        } @else {
          <p-message size="small" severity="info" [text]="updateStatus().message"/>
        }
      }
      @case ('downloading') {
        <p-message severity="warn" [text]="updateStatus().message"/>
      }
      @case ('downloaded') {
        <p-message severity="success" [text]="updateStatus().message"/>
      }
      @case ('error') {
        <p-message severity="error" [text]="updateStatus().message"/>
      }
    }

    <p>{{ updateStatus() | json }}</p>
  </div>
</p-drawer>
