<h4>Add New Alias</h4>
<form [formGroup]="aliasForm">
  <div>
    <label for="aliasName">Name:</label>
    <input id="aliasName" type="text" pInputText formControlName="aliasName" fluid />
  </div>
  <div>
    <label for="aliasCommand">Command:</label>
    <input type="text" pInputText id="aliasCommand" formControlName="aliasCommand" size="50" fluid />
  </div>
  <div>
    <label for="aliasComment">Comment:</label>
    <textarea id="aliasComment" formControlName="aliasComment" pTextarea rows="2" cols="50" fluid></textarea>
    <!-- Or use input type="text" -->
    <!-- <input type="text" id="aliasComment" [(ngModel)]="newAliasComment" size="50"> -->
  </div>

  <div class="flex content-end w-full my-4">
    <p-button label="Cancel" severity="secondary" text (onClick)="handleCancelClicked()" />
    <p-button label="Save" [disabled]="aliasForm.untouched" (onClick)="saveAlias()" />
  </div>

</form>
