<p-toolbar styleClass="bg-gradient-to-t from-slate-50">
  <ng-template #start>
    @if (currentAppearance() === 'dark') {
      <img src="assets/alias_bridge_icon_light.png" alt="aliasBridge icon" width="32" height="32"/>
    } @else {
      <img src="assets/alias_bridge_icon_dark.png" alt="aliasBridge icon" width="32" height="32"/>
    }
    <p class="ml-4">AliasBridge</p>
  </ng-template>
  <ng-template #end>
    <app-cloud-status></app-cloud-status>
    <p-button type="button" [icon]="'pi pi-cog'" text size="small" (onClick)="settingsClicked.emit()"/>
    <p-button type="button" [icon]="appearanceToggleIcon()" text [size]="'small'"
              (onClick)="handleAppearanceClicked()"/>
    <p-button type="button" icon="pi pi-refresh" severity="secondary" rounded text (onClick)="loadAliases()"
              [size]="'small'"/>
  </ng-template>
</p-toolbar>
